/* Intro Section */
#home-intro {
	display: grid;
	align-content: start;
	max-width: 65ch;
}

#intro-name {
	font-size: var(--fs-xl);
	font-weight: 800;
}

#intro-title {
	font-size: var(--fs-l);
	color: var(--clr-secondary);
}

#intro-greeting {
	font-size: var(--fs-m);
	opacity: 0.9;
}

