/* ========
 * Site-wide base styles
 * ======== */

/* Standardized Stylig */
:root {
	--scale-factor: 0.25vw; /* controls how aggressive values scale with viewport size */

	--clr-primary: #081b29;
	--clr-secondary: #ff7a7a;
	--clr-general: #fff;

	--ff-general: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Aria, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--fs-xl: clamp(3rem, var(--scale-factor) + 3rem, 4rem);
	--fs-l: clamp(1.5rem, var(--scale-factor) + 1.5rem, 2rem);
	--fs-m: clamp(1.25rem, var(--scale-factor) + 1.25rem, 1.5rem);
	--fs-general: clamp(1rem, var(--scale-factor) + 1rem, 1.125rem);

	--border-thin: 2px;
	--radius: 9999px;

	--transition: 0.3s;
}

/* General */
body {
	background: var(--clr-primary);
	color: var(--clr-general);

	font-family: var(--ff-general);
	font-size: var(--fs-general);
}

img, svg {
	display: block;
}

a {
	color: var(--clr-general);
	transition: color var(--transition);
}

a:hover,
a:focus-visible {
	color: var(--clr-secondary);
}

/* Header/Navigation */
.header {
	position: sticky;
	top: 0;

	background: var(--clr-primary);
	backdrop-filter: saturate(140%) blur(6px);

	z-index: 100;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo .site-title {
	font-size: var(--fs-m);
	font-weight: 700;
}

.menu-toggle {
	display: inline-flex;
	align-items: center;
}

.menu-toggle #hamburger {
	color: var(--clr-general);
	transition: color var(--transition);
}

.menu-toggle:hover #hamburger {
	cursor: pointer;
	color: var(--clr-secondary);
}

.nav-links {
	display: none; /* mobile default (shown via JS)*/
	align-items: center;
}

.nav-links a {
	display: inline-block;
	padding: 0.5rem 0.3rem;
}

.nav-cta-button {
	border: var(--border-thin) solid var(--clr-general);
	color: var(--clr-general);
	border-radius: var(--radius);
}

.nav-cta-button:hover,
.nav-cta-button:focus-visible {
	color: var(--clr-primary);
	background: var(--clr-secondary);
	border-color: var(--clr-secondary);
}

/* Desktop breakpoint */
@media(min-width: 768px) {
	.menu-toggle {
		display: none;
	}

	.nav-links {
		display: flex;
	}
}

/* Mobile navigation dropdown (shown when .open is applied) */
@media (max-width: 767.98px) {
	.nav-links {
		position: absolute;
		display: grid;
		background: var(--clr-primary);
		border: 1px solid var(--clr-general);
		border-radius: 14px;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		transition: opacity var(--transition) visibility var(--transition);
	}

	.nav-links.open {
		max-height: 50vh;
		visibility: visible;
		opacity: 1;
	}

	/* prevent body scrolling when menu open */
	body.menu-open {
		overflow: hidden;
	}
}

/* reduced motion accessibility */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Visually-Hidden Elements */
.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

