:root {
	--ff-body: sans-serif;
	--ff-heading: sans-serif;
	
	--fs-800: 2.5rem;
	--fs-700: 1.75rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;

	--clr-primary: #ededed;
	--clr-hover: #00abf0;
}

/* redefine font sizes for smaller screen sizes */
@media (max-width: 768px) {
	:root {
		--fs-800: 2.25rem;
		--fs-700: 1.5rem;
		--fs-600: 1.25rem;
		--fs-500: 1rem;
		--fs-400: 0.75rem;
	}
}

body {
	background: #081b29;
	color: #ededed;
}

nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: transparent;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h3 {
	color: #ededed;
	text-decoration: none;
	font-size: var(--fs-600);
	font-weight: 600;
	transition: .3s;
}

.nav-links {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav-links a {
	display: block;
	padding: 30px 16px;
	color: #ededed;
	text-decoration: none;
	font-size: var(--fs-500);
	font-weight: 500;
	transition: .3s;
}

.nav-links .nav-cta-button {
	padding: 10px 18px;
	margin-left: 16px;
	border: #ededed solid 2px;
	border-radius: 50px;
	transition: .3s;
}

.nav-links .nav-cta-button:hover {
	border: #00abf0 solid 2px;
}

.logo h3:hover,
.nav-links a:hover,
.nav-links a.active {
	color: #00abf0;
}

.hamburger {
	display: none;
	cursor: pointer;
	width: 34px;
}

.hamburger .bar {
	flex-basis: 100%;
	height: 4px;
	background-color: #ededed;
	margin: 3px;
}

.hamburger:hover {
	color: #00abf0;
}

.home {
	height: 100vh;
	background: url('assets/home.png') no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.home-content h1 {
	font-size: var(--fs-800);
	font-weight: 800;
}

.home-content h2 {
	font-size: var(--fs-700);
	font-weight: 700;
	color: #00abf0;
}

.home-content h3 {
	font-size: var(--fs-600);
	font-weight: 600;
	color: #aaa;
}

.home-content p {
		font-size: var(--fs-400);
		margin: 20px 0 40px;
		line-height: 1.2;
}

.home-content .btn-box {
		display: flex;
		justify-content: space-between;
		width: 345px;
		height: 50px;
		background: transparent;
}

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: #00abf0;
	border: 2px solid #00abf0;
	border-radius: 8px;
	font-size: 19px;
	color: #081b29;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.btn-box a:hover {
		color: #00abf0;
}

.btn-box a:nth-child(2) {
		background: transparent;
		color: #00abf0;
}

.btn-box a:nth-child(2):hover {
		color: #081b29;
}

.btn-box a:nth-child(2)::before {
		background: #00abf0;
}

.btn-box a::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #081b29;
		z-index: -1;
		transition: .5s;
}

.btn-box a:hover::before {
		width: 100%;
}

.home-sci {
		position: absolute;
		bottom: 40px;
		width: 170px;
		display: flex;
		justify-content: space-between;
}

.home-sci a {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background: transparent;
		border: 2px solid #00abf0;
		border-radius: 50%;
		font-size: 20px;
		color: #00abf0;
		text-decoration: none;
		z-index: 1;
		overflow: hidden;
		transition: .5s;
}

.home-sci a:hover {
		color: #081b29;
}

.home-sci a::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #00abf0;
		z-index: -1;
		transition: .5s;
}

.home-sci a:hover::before {
		width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
	nav {
		flex-wrap: wrap;
	}

	.hamburger {
		display: flex;
		flex-wrap: wrap;
	}

	.logo {
		height: 80px;
	}

	.nav-links {
		display: none;
		flex-basis: 100%;
		flex-wrap: wrap;
	}

	.nav-links li {
		flex-basis: 100%;
	}

	.nav-links a {
		text-align: center;
		font-size: 28px;
	}

	.nav-links a:hover {
		background-color: #00abf0;
	}

	.nav-links .nav-cta-button {
		padding: 30px 16px;
		margin-left: 0;
		border: none;
		border-radius: 0;
		margin-bottom: 20px;
	}

	.nav-links .nav-cta-button:hover {
		background-color: #00abf0;
	}
}

